#bukazu-app {
  @media screen and (min-width: 1400px) {
    div.calendar-container {
      display: flex;
      align-items: flex-start;
      .calendar-section {
        width: 75%;
        order: 1;
      }
      .price-overview {
        width: 25%;
        order: 2;
        .calendar--picker {
          flex-direction: column;
          &--date, .button {
            width: auto;
          }
          .button {
            padding: 12px;
          }
        }
      }
    }
  }
  @media screen and (max-width: 993px) {    
      .price-overview {
        .calendar--picker {
          flex-direction: column;
          &--date, .button {
            width: auto;
          }
          .button {
            padding: 12px;
          }
        }
      }
    
  }
  .calendars-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    @media screen and (max-width: 992px) {
      /* flex-direction: column; */
      .col {
        margin: 4px 8px;
      }
    }
    .col {
      .icon {
        padding: 8px 40px;
        background-color: rgb(23, 190, 187);
        background: var(--bukazu-button);
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
          height: 18px;
        }
        &:hover {
          box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
        }
      }
    }
  }
  .assistance {
    padding: 16px;
    span {
      font-weight: bold;
    }
  }
  .calendars-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .calendar {
    min-width: 48%;
    padding: 16px 1%;
    box-sizing: border-box;
    background: var(--month_background);
    /* box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25); */
    /* margin: 16px 8px; */
    &.calendar-1 {
      min-width: 98%;
    }
    &.calendar-2 {
      min-width: 48%;
    }
    &.calendar-3 {
      min-width: 32%;
    }
    &.calendar-4 {
      min-width: calc(25% - 16px);
    }
    .header {
      background-color: rgba(211, 211, 211, 0.2);
    }
    .row {
      width: 100%;
      display: flex;
      flex: 1 1 auto;
      &.days {
        border-bottom: 1px solid rgba(211, 211, 211, 0.5);
      }
    }
    .col {
      width: 100%;
      /* border: solid 1px #fff; */
      padding: 4px;
      text-transform: capitalize;
      text-align: center;
      transition: all 0.5s ease;
      &-center {
        text-align: center;
      }
      &-start {
        text-align: left;
      }
      &-end {
        text-align: right;
      }
    }
    .cell {
      background: #6eeb83;
      background: var(--bukazu-cell);
    }
    .disabled {
      opacity: 0;
    }
    .arrival {
      background: #6eeb83;
      background: var(--bukazu-arrival);
      cursor: pointer;
      font-weight: bold;
      text-decoration: underline;
    }
    .discount {
      background: orange;
      background: var(--bukazu-discount);
    }
    /* .discount.arrival {
      background: linear-gradient(
        45deg,
        var(--bukazu-discount) 50%,
        var(--bukazu-arrival) 50%
      ); 
    } */
    .booked-departure {
      background: linear-gradient(
        45deg,
        var(--bukazu-cell) 50%,
        var(--bukazu-booked) 50%
      );
    }
    .discount.booked-departure {
      background: linear-gradient(
        45deg,
        var(--bukazu-discount) 50%,
        var(--bukazu-booked) 50%
      );
    }
    .departure.discount.booked-departure,
    .departure.booked-departure,
    .departure.booked {
      background: linear-gradient(
        45deg,
        var(--bukazu-departure) 50%,
        var(--bukazu-booked) 50%
      );
    }
    .departure-arrival {
      background: linear-gradient(
        45deg,
        var(--bukazu-booked) 50%,
        var(--bukazu-arrival) 50%
      ) !important;
      cursor: pointer;
    }
    .icon {
      cursor: pointer;
    }
    .discount.arrival.departure,
    .departure {
      font-weight: bold;
      background: yellow;
      background: var(--bukazu-departure);
      cursor: pointer;
    }
    .selected {
      background: rgb(23, 190, 187) !important;
      background: var(--bukazu-button) !important;
    }
    .booked {
      background: #ea2b1f;
      background: var(--bukazu-booked);
      color: #000;
      /* filter: invert(100%) */
    }
  }
  .legend {
    display: flex;
    flex-wrap: wrap;
    padding: 8px 16px;
    @media screen and (max-width: 992px) {
      flex-direction: column;
    }
    & > div {
      display: flex;
      padding: 0 16px;
      @media screen and (max-width: 992px) {
        padding: 4px 8px;
      }
    }
    &-field {
      display: block;
      width: 16px;
      height: 16px;
      margin: 0 8px 0 0;
      &.booked {
        background: #ea2b1f;
        background: var(--bukazu-booked);
      }
      &.arrival {
        background: #6eeb83;
        background: var(--bukazu-arrival);
      }
      &.departure {
        background: yellow;
        background: var(--bukazu-departure);
      }
      &.last_minute_discount {
        background: orange;
        background: var(--bukazu-discount);
      }
    }
  }
  .calendar--picker {
    padding: 8px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.25);
    &--date {
      width: 20%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 8px 16px;
      span.name {
        font-size: 18px;
        border-bottom: 1px solid #ccc;
        padding: 4px 0;
        @media screen and (max-width: 1200px) {
    font-size: 16px;
  }
      }
      span.detail {
        display: flex;
        padding: 4px 0;
        opacity: 0.9;
        width: 100%;
        justify-content: center;
        align-items: center;
                      @media screen and (max-width: 1200px) {
                  font-size: 14px;
                }
      }
    }
    &--persons {
      border: 1px solid #ccc;
      width: 100%;
      appearance: none;
      font-size: 16px;
    }
    .button {
      width: 20%;
      background: var(--bukazu-button_cta);
      color: #fff;
      padding: 4px 16px;
      margin: 8px 0;
      font-weight: bold;
      text-align: center;
      border: 0;
      font-size: 18px;
      box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
      cursor: pointer;
      &:disabled {
       background: #ccc;
       cursor: not-allowed;
      }
      &:hover {
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
      }
    }
  }
}
