#bukazu-app input,
#bukazu-app select {
    appearance: none;
    border: 1px solid rgba(69, 74, 83, 0.2);
    border-radius: 8px;
    padding: 8px 16px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    margin: 4px 0 8px;
}

#bukazu-app input[type=radio],
#bukazu-app input[type=checkbox] {
    width: 8px;
    height: 8px;
    padding: 8px;
    margin: 0 16px 0 0;
    position: relative;
    border-radius: 16px;
}

#bukazu-app input[type=checkbox] {    
    border-radius: 0;
}

#bukazu-app input[type=checkbox]:checked+label,
#bukazu-app input[type=radio]:checked+label {
    font-weight: bold;
}

#bukazu-app input[type=radio]:checked::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 10px;
    width: 10px;
    border-radius: 16px;
    background: var(--bukazu-button);
}
#bukazu-app input[type=checkbox]:checked::after {   
    /*Add another block-level blank space*/
    content: '';
    display: block;
    position: absolute;
    left: 6px;
    top: 2px;
 
    /*Make it a small rectangle so the border will create an L-shape*/
    width: 4px;
    height: 8px;
 
    /*Add a white border on the bottom and left, creating that 'L' */
    border: solid var(--bukazu-button);
    border-width: 0 2px 2px 0;
 
    /*Rotate the L 45 degrees to turn it into a checkmark*/
    transform: rotate(45deg);  
}

#bukazu-app .radioList {
    padding: 0;
    list-style: none;
    .bu-list-item {
        display: flex;
        align-items: center;
        cursor: pointer;
        
        label {
            padding: 4px 0;
            cursor: pointer;
        }
    }    
    
    .bu-disabled {
        display: none;
    }
}