#bukazu-app .form {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  position: relative;
  @media screen and (max-width: 992px) {
    flex-direction: column;
  }
  h2 {
    padding: 16px 0 24px;
    margin: 0;
  }
  .return-link {
    color: var(--bukazu-button);
    cursor: pointer;
    text-decoration: underline;
  }
  > div {
    /* flex: 1; */
  }
  .error-message {
    width: 100%;
    color: red;
    font-size: 14px;
    padding-bottom: 4px;
  }
  &-content {
    width: 70%;
    @media screen and (max-width: 992px) {
      width: 100%;
    }
  }
  &-section {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #aeacac;
    padding: 16px;
    .age-description {
      padding: 0 0 0 16px;
    }
  }
  &-sum {
    padding: 16px;
    background: #fff;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.25);
    /* position: absolute; */
    top: 0;
    right: 10%;
    min-width: 400px;
    max-width: 500px;
    align-self: flex-start;
    @media screen and (max-width: 992px) {
      min-width: 100%;
    }
    .house-details {
      padding: 0 0 16px;
      border-bottom: 1px solid #aeacac;
      img {
        padding: 16px 0;
        height: 200px;
        @media screen and (max-width: 992px) {
          max-width: 100%;
          height: auto;
        }
      }
      th {
        text-align: left;
      }
    }
    .booking_option {
      border: none;
      display: flex;
      flex-direction: row;
      padding: 0;
      margin: 0;
      border: 1px solid #aeacac;
      border-radius: 16px;
      overflow: hidden;
      margin: 16px 0;
      div {
        width: 50%;
        text-align: center;
      }
      .legend {
        width: 100%;
        display: none;
      }
      input {
        display: none;
      }
      input:checked + label {
        background: var(--bukazu-button);
        /* color: #fff; */
      }
      input:disabled + label {
        background: #efefef;
        color: #ccc;
        /* color: #fff; */
      }
      label {
        border-radius: 16px;
        display: block;
        flex: 1 1 auto;
        padding: 8px 16px;
        line-height: 2rem;
        transition: all 0.2s ease;
        cursor: pointer;
        margin: 0;
      }
    }
    .costs-section {
      padding: 16px 0;
      table {
        width: 100%;
        tr {
          width: 100%;
          td {
            width: 60%;
          }
        }
      }
      .price {
        text-align: right;
        width: 40%;
      }
    }
    .terms {
      padding: 8px 0;
      button {
        padding: 0 4px;
        background: 0;
        display: inline;
        width: auto;
        font-size: 16px;
        background: none;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
        color: var(--bukazu-button);
        &:hover {
          box-shadow: none;
          text-decoration: underline;
        }
      }
    }
    button {
      width: 100%;
      padding: 16px;
      border: 0;
      color: #fff;
      font-size: 20px;
      background: var(--bukazu-button_cta);
      cursor: pointer;
      &:hover {
        box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.25);
      }
    }
  }
  &-row {
    display: flex;
    flex-direction: column;
    padding: 8px 0;
    select,
    input {
      max-width: 50%;
      @media screen and (max-width: 992px) {
        max-width: 100%;
      }
    }
    &.inline {
      align-items: center;
      display: flex;
      flex-direction: row;
      /* justify-content: space-between; */
      flex-wrap: wrap;
      width: 100%;
      &.hidden {
        display: none;
      }
      label {
        width: 30%;
        font-size: 16px;
        @media screen and (max-width: 992px) {
          width: auto;
        }
      }
      select,
      input {
        width: auto;
        min-width: 150px;
        padding: 8px 64px 8px 16px;
        @media screen and (max-width: 992px) {
          order: 3;
          width: 100%;
        }
      }
      .info-button {
        margin: 0 0 0 8px;
      }
      .price_per {
        padding: 0 0 0 50px;
      }
    }
  }
  
  .return-message {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0);
  }
}
