@import "calendar.css";
@import "form.css";
@import "field.css";
@import "datepicker.css";
@import "modal.css";
@import "price-overview.css";
@import "success.css";
@import "result.css";
@import "results.css";
@import "filters.css";
@import "pagination.css";
@import "reviews.css";

#bukazu-app {
  #search-page {
    &.bu-reverse {
      flex-direction: row-reverse;
    }
    &.bu-column {
      flex-direction: column;
      .filters {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .filters-reload {
          max-height: 24px;
          order: 3;
        }
        .bu-field {
          padding: 8px;
          width: 200px;
        }
      }
    }
  }
  div {
    box-sizing: border-box;
  }
  tr {
    border: 0;
  }
  .align-center {
    display: flex;
    align-items: center;
  }
  .house-name {
    padding: 16px;
  }
  select {
    background: #fff;
    background-image: linear-gradient(45deg, transparent 50%, gray 50%),
      linear-gradient(135deg, gray 50%, transparent 50%),
      linear-gradient(to right, #ccc, #ccc);
    background-position: calc(100% - 20px) calc(1em),
      calc(100% - 15px) calc(1em), calc(100% - 2.5em);
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;
  }
  .info-button {
    border: none;
    background: rgba(0, 0, 0, 0);
    cursor: pointer;
  }

  .bu_discount_code {
    width: 100%;
    display: flex;
    font-style: italic;
    div {
      padding-right: 8px;
    }
  }
}
