.bukazu-result {
  width: 300px;
  margin: 8px;
  overflow: hidden;
  appearance: none;
  text-decoration: none;
  display: block;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  transition: all 0.5s ease;
  &:hover {
    box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.25);
    text-decoration: none;
  }
  &-inner {
    overflow: hidden;
    color: rgba(26, 25, 25, 1);
    border: 1px solid rgba(69, 74, 83, 0.2);
    height: 100%;
    display: flex;
    flex-direction: column;
    .image-holder {
      padding-top: 75%;
      position: relative;
      width: 100%;
      overflow: hidden;
      img {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        height: 100%;
        min-height: 100%;
      }
    }

    .result {
      position: relative;
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      font-size: 14px;
      background: #fff;
      text-decoration: none;
      &-title {
        padding: 8px;
        font-weight: bold;
      }
      &-place {
        padding: 4px 8px;
      }
      &-description {
        padding: 8px;
        flex: 1 1 auto;
      }
      &-details {
        padding: 8px;
        display: flex;
        justify-content: space-evenly;
        border-bottom: 1px solid rgba(69, 74, 83, 0.2);
      }
      &-rating {
        position: absolute;
        right: 4px;
        top: 4px;
        &-inner {
          background: var(--bukazu-button);
          position: relative;
          color: #fff;
          font-weight: bold;
          padding: 6px 10px;
          border-radius: 0.4em;
          font-size: 14px;
          line-height: 14px;
          box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
          &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 0;
            height: 0;
            border: 10px solid transparent;
            border-top-color: var(--bukazu-button);
            border-bottom: 0;
            border-left: 0;
            margin-left: -5px;
            margin-bottom: -10px;
          }
        }
      }
      &-price {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 12px 8px;

        span.price {
            padding: 8px 0 0;
          font-size: 18px;
          font-weight: bold;
        }
      }
      &-button {
        background: var(--bukazu-button_cta);
        text-align: center;
        padding: 8px;
        position: relative;
        display:flex;
        align-items: center;
        justify-content: center;
        svg {
          width: 18px;
        }
        &:before {
          position: absolute;
          height: 100%;
          content: "";
          background-color: var(--bukazu-button_cta);
          mix-blend-mode: multiply;
          width: 0px;
          left: 0;
          top: 0;
          bottom: 0;
          transition: all 0.8s ease;
        }
        &:hover {
          &:before {
            width: 100%;
          }
        }
      }
    }
  }
}
.list .bukazu-result {
  @media screen and (min-width: 992px) {
    width: 100%;
    .bukazu-result-inner {
      flex-direction: row;
      .image-holder {
        width: 400px;
        height: 300px;
        padding: 0;
        img {
          width: 100%;
          height: auto;
        }
      }
      .result {
        &-description {
          max-width: 90ch;
        }
      }
    }
  }
}
